*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    font-size: 62.5%;
    height: 100vh;
}

// body > .container{
//     // margin: 2rem auto;
// }

.header{
    // box shadow - x-axis, y-axis, blur, color (bottom)
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.288);
}

.container{
    // border: 1px solid $color-grey-dark-1;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-self: center;
    height: calc(100vh - 6rem);
    position: relative;

    & img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0.3;
    }
}

.add-medicine{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0rem;
    // padding: 2rem;
    width: 40%;
    // height: 100%;
    border-radius: 0.5rem;
}

.add-medicine-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    text-align: center;
}

.medicine-list{
    // border-right: 1px solid $color-grey-dark-1;
    // box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
    // width: 40%;
    // height: 100%;
    border-radius: 0.5rem;
}

.profile{
    border-right: 1px solid $color-grey-dark-1;
    // box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
    // width: 25%;
    // height: 100%;
    border-radius: 0.5rem;
}