$color-white: #fff;
$color-black: #000;

$color-primary: #2E86AB;
$color-primary-dark: #1E4D66;

$color-secondary: #F6F9FC;
$color-secondary-dark: #E2E8F0;

$color-accent: #6BCB77;
$color-accent-dark: #4F9A5D;

$color-warn: #FFD166;
$color-warn-dark: #E2B23C;

$color-pink: #EF476F;
$color-pink-dark: #C0392B;
$color-pink-card-bg: #EF476F33;

$color-grey-light-1: #686868;
$color-grey-light-2: #B2B2B2;
$color-grey-light-3: #E5E5E5;
$color-grey-light-4: #F2F2F2;

$color-grey-dark-1: #2D3142;
$color-grey-dark-2: #3F4254;